<h3>New purchase </h3>

<form action="/purchases" method="post">

<div class="form-group">
  <div>
<label>product_id</label>
</div>
  <input type="text" name="purchase[product_id]" value="">
</div>

<div class = "form-group">
  <div>
  <label>user_id</label>
</div>
    <input type="text" name="purchase[user_id]" value="">
</div>

<div class = "form-group">
  <div>
  <label>purchase_date</label>
</div>
    <input type="text" name="purchase[purchase_date]" value="">
</div>

<div class = "form-group">
  <div>
  <label>status</label>
</div>
    <input type="text" name="purchase[status]" value="">
</div>

<input type="submit" name="name" value="submit">
</form>
