<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Redmart Sinatra</title>

    <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  </head>
  <body>
    <div class="container">
    <h1> My Redmart Sinatra App</h1>
    <nav>
          <ul>
            <li><a href="/users">List of users</a></li>
            <li><a href="/products">List of products</a></li>
            <li><a href="/brands">List of brands</a></li>
            <li><a href="/categories">List of categories</a></li>
            <li><a href="/purchases">List of purchases</a></li>
          </ul>
          <ul>
            <li><a href="/users/new">New user registration</a></li>
            <li><a href="/products/new">New product registration</a></li>
            <li><a href="/brands/new">New brand registration</a></li>
            <li><a href="/categories/new">New category registration</a></li>
            <li><a href="/purchases/new">New purchase registration</a></li>
          </ul>
    </nav>
    <%= yield %>
    </div>
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
