<h3>New User Registration </h3>

<form action="/users" method="post">

<div class="form-group">
  <div>
<label>Name</label>
</div>
  <input type="text" name="user[name]" value="">
</div>

<div class = "form-group">
  <div>
  <label>email</label>
</div>
    <input type="text" name="user[email]" value="">
</div>

<div class = "form-group">
  <div>
  <label>address</label>
</div>
    <input type="text" name="user[address]" value="">
</div>

<div class = "form-group">
  <div>
  <label>password</label>
</div>
    <input type="text" name="user[password]" value="">
</div>

<div class = "form-group">
  <div>
  <label>cc_number</label>
</div>
    <input type="text" name="user[cc_number]" value="">
</div>

<div class = "form-group">
  <div>
  <label>date_joined</label>
</div>
    <input type="text" name="user[date_joined]" value="">
</div>

<input type="submit" name="name" value="submit">
</form>
