<h3>Adding new product </h3>

<form action="/products" method="post">

<div class="form-group">
  <div>
<label>Name</label>
</div>
  <input type="text" name="product[name]" value="">
</div>

<div class = "form-group">
  <div>
  <label>brand_id</label>
</div>
    <input type="text" name="product[brand_id]" value="">
</div>

<div class = "form-group">
  <div>
  <label>category_id</label>
</div>
    <input type="text" name="product[category_id]" value="">
</div>

<div class = "form-group">
  <div>
  <label>price</label>
</div>
    <input type="text" name="product[price]" value="">
</div>

<input type="submit" name="name" value="submit">
</form>
