<h3>Form to edit existing brands / Edit Brand details</h3>
<h3>BRAND ID: <%= @brand[:id] %></h3>

<form action="/brands/<%= @brand[:id] %>" method="post">
  <input type="hidden" name="_method" value="put">

  <div class="form-group">
    <div>
    <label>Name</label>
    </div>
      <input type="text" name="brand[name]" value="<%= @brand[:name] %>">
  </div>

  <input type="submit" value="submit">
</form>
