<h3>Adding new brand </h3>

<form action="/brands" method="post">

<div class="form-group">
  <div>
<label>Name</label>
  </div>
  <input type="text" name="brand[name]" value="">
</div>

<input type="submit" name="name" value="submit">
</form>
